MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=voce@gmail.com
MAIL_PASS=senha-de-app-de-16-caracteres-sem-espacos
MAIL_FROM=D20 Software House <voce@gmail.com>
MAIL_TO=voce@gmail.com
SITE_URL=https://d20-software-house.vercel.app
